.header {
    display: flex; /* Alinha os itens em linha */
    align-items: center; /* Alinha verticalmente ao centro */
    justify-content: space-around;
    margin: 0px -50px 0 -70px;
    margin-top: 20px;
}


.logo{
    width: 6%;
}

.menu { 
    list-style: none;
    padding-left:0px;
    display: flex;
}

.menu li { 
    padding-left: 50px;
    font-size:20px;
    font-weight:100;
    min-width: 100px;
}
.menu li a{ 
    color: black;
    text-decoration: none;
    transition: font-size 0.2s;
    
}
.menu li a:hover{
    cursor: pointer;

}

.menu-hamburguer {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }
  
.linha {
    width: 100%;
    height: 4px;
    background-color: black; 
}

.bola_centro{
    background-color: darkgreen;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img_center{
    width: auto;
    height: 530px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform 0.8s ease;
}
.img_center:hover{
    cursor: pointer;
    width: auto;

    height: 600px;
}

.lorem{ 
    width: 270px;
    position: absolute;
    top: 20%;
    left: 10%;
    font-family: "Open Sans", sans-serif;
    font-weight:100;
    font-size:medium;
}
.second {
    font-weight: bold;
}

.less_more { 
    position: absolute;
    top:33%;
    left: 60%;
    font-family: 'Montserrat', sans-serif; /* Substitua pela fonte desejada */
    font-weight: 400; /* Negrito extra */
    font-size:90px; /* Ajuste o tamanho conforme necessário */
    line-height: 0.7; /* Ajuste o espaçamento entre as linhas */
    color: black; /* Cor do texto (cinza escuro) */
}

.icons{ 
    position: absolute;
    top: 90%;
    left: 5%;
    align-items: center;
}
.icons img{
    width: 30px;
    height: 30px;
    margin: 0 3px 0 3px;
    transition: transform 0.8s ease;
}

.icons img:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.bottom_text p{
    position: absolute;
    top: 90%;
    left: 80%;
    font-size: 20px;
    font-weight:300;
    width: 100%;
    font-family: "Open Sans", sans-serif;
}